body {
    width: 360px;
    font-family: 'Avenir Next', 'Helvetica Neue', sans-serif;
}
a {
    color: #b90000;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}
.boldred {
    color: #b90000;
    font-weight: bold;
    cursor: pointer; cursor: hand;
}
.logoright {
    min-height: 49px;
}
.social {
    font-size: 12px;
}
#logosrc {
    float: left;
    margin: 0 1em 1em 0;
}
.legend {
}
.legenditem {
    margin: 0 0 10px 40px;
    vertical-align: middle;
}
.smicon {
    height: 16px;
    width: 16px;
    margin: 0 5px 0 -20px;
}
